@model Activityy
<div class="jumbotron">
    <h1 class="display-4">Plan Your Activity</h1>
</div>

<div class="alert alert-info">
    <a href="/logout">Logout</a> | 
    <a href="/dashboard">Home</a>
</div>

<form action="/create/activity" method="POST">
    
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control">
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Time"></label>
        <input asp-for="Time" class="form-control">
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Duration"></label>
        <input asp-for="Duration" class="form-control">
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Activity</button>

</form>
